* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --color-fg-main: #ffffff;
    --color-fg-accent: #a68af9;
    --color-bg-accent: #2f2f29;
    --color-bg-main: #1f1f1f;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
}

.accent-text {
    color: var(--color-fg-accent);
}

nav.sidebar {
    padding: 1.5em;
    min-width: 30ch;
    background-color: var(--color-bg-main);
    border-right: 1pt solid var(--color-bg-accent);
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-brand-header {
    text-align: center;
    font-size: 1.4em;
}

.sidebar-view-container {
    width: 90%;
    padding: 1em 0;
    font-size: 1.1em;
}

.sidebar-view-container:has(+ .sidebar-view-container) {
    border-bottom: 1pt solid var(--color-bg-accent);
    margin-bottom: 0.5em;
}

#task-container ul,
.sidebar-view-container ul {
    list-style: none;
}

#task-container ul > li,
.sidebar-view-container ul > li {
    padding: 0.8em 0.5em;
    border-radius: 4pt;
    cursor: pointer;
}

.sidebar-view-container ul > li > span {
    paddint-right: 0.5em;
    display: flex;
    gap: 0.5em;
}

.sidebar-view-container ul > li:nth-child(2n) {
    margin: 0.3em 0;
}

#task-container ul > li:hover,
.sidebar-view-container ul > li:hover {
    background-color: var(--color-bg-accent);
}

.sidebar-view-container ul > li.selected:not(:hover) > span {
    padding-right: 0.6em;
    box-shadow: inset 0 -1px 0 0 var(--color-fg-accent);
}

#sidebar-projects-view-container ul > li {
    padding: 0.4em 0.5em;
    margin-left: 0.5em;
}

.sidebar-view-container ul > li svg {
    fill: var(--color-fg-accent);
    width: 1em;
}

.project-item:first-child {
    margin-top: 0.8em;
}

#sidebar-project-view-header {
    display: flex;
    gap: 1em;
}

button.task-button,
button.project-button {
    font-weight: 800;
    background-color: inherit;
    color: inherit;
    padding: 0.3em 1em;
    border: 2pt solid var(--color-fg-main);
    border-radius: 4pt;
}

button.task-button {
    padding: 0.5em 1em;
}

button.task-button:hover,
button.project-button:hover {
    border-color: var(--color-fg-accent);
    background-color: var(--color-bg-accent);
}

button.task-button:active,
button.project-button:active {
    box-shadow: var(--color-bg-main) 5px 5px 10pt inset;
}

.project-item {
    display: flex;
    justify-content: space-between;
}

.task-item button,
.project-item button {
    background-color: inherit;
    border: none;
}

.task-button-container,
.project-button-container {
    display: inline-flex;
    gap: 0.5em;
}

.task-item .task-edit-button svg,
.task-item .task-delete-button svg,
.project-item .project-edit-button svg,
.project-item .project-delete-button svg {
    display: none;
    width: 1.3em;
    fill: #b65454;
}

.task-item .task-delete-button:hover svg,
.project-item .project-delete-button:hover svg {
    fill: firebrick;
}

.task-item .task-edit-button svg,
.project-item .project-edit-button svg {
    fill: skyblue;
}

.task-item .task-edit-button:hover svg,
.project-item .project-edit-button:hover svg {
    fill: deepskyblue;
}

.task-item:hover button svg,
.project-item:hover button svg {
    display: inline;
    cursor: pointer;
}

main {
    text-align: center;
    padding: 1.5em;
    background-color: var(--color-bg-main);
    flex-grow: 1;
}

#task-container {
    padding: 2em;
    margin-top: 2.5em;
    text-align: left;
}

#task-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-bottom: 1.5em;
}

#task-container ul > li {
    padding: 0.8em 1em;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-checkbox {
    -moz-appearance: initial;
    color: currentColor;
    border: 0.15em solid currentColor;
    width: 1.15em;
    aspect-ratio: 1;
    transform: translateY(-1px);
    display: inline-grid;
    place-content: center;
}

.task-checkbox::before {
    content: "";
    transform: scale(0);
    width: 0.64em;
    aspect-ratio: 1;
    box-shadow: inset 1em 1em var(--color-fg-accent);
}

.task-checkbox:checked::before {
    transform: scale(1);
}

#task-container ul > li:has(.task-checkbox:checked) span {
    text-decoration: line-through;
}
