* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="mail"],
input[type="url"],
input[type="password"],
textarea,
button {
    appearance: none;
}

:root {
    --color-fg-main: #ffffff;
    --color-fg-accent: #a68af9;
    --color-fg-accent-no-opaque: #a68af950;
    --color-bg-accent: #2f2f29;
    --color-bg-dialog-input: #252525;
    --color-border-dialog: #4f4f49;
    --color-bg-main: #1f1f1f;
}

body {
    display: flex;
    height: 100vh;
    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
}

.accent-text {
    color: var(--color-fg-accent);
}

nav.sidebar {
    padding: 1.5em;
    min-width: 30ch;
    background-color: var(--color-bg-main);
    border-right: 1pt solid var(--color-bg-accent);
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-brand-header {
    text-align: center;
    font-size: 1.4em;
}

.sidebar-view-container {
    width: 90%;
    padding: 1em 0;
    font-size: 1.1em;
}

.sidebar-view-container:has(+ .sidebar-view-container) {
    border-bottom: 1pt solid var(--color-bg-accent);
    margin-bottom: 0.5em;
}

#task-container ul,
.sidebar-view-container ul {
    list-style: none;
}

.task-item,
.sidebar-view-container ul > li {
    padding: 0.8em 0.5em;
    border-radius: 4pt;
    cursor: pointer;
}

.sidebar-view-container ul > li > span {
    paddint-right: 0.5em;
    display: flex;
    gap: 0.5em;
}

.sidebar-view-container ul > li:nth-child(2n) {
    margin: 0.3em 0;
}

.task-item:hover,
.sidebar-view-container ul > li:hover {
    background-color: var(--color-bg-accent);
}

.sidebar-view-container ul > li.selected:not(:hover) > span {
    box-shadow: inset 0 -1px 0 0 var(--color-fg-accent);
}

#sidebar-projects-view-container ul > li {
    padding: 0.4em 0.5em;
    margin-left: 0.5em;
}

.sidebar-view-container li svg {
    fill: var(--color-fg-accent);
    width: 1em;
}

.project-item:first-child {
    margin-top: 0.8em;
}

#sidebar-project-view-header {
    display: flex;
    gap: 1em;
}

button.borderless-action-button,
button.action-button {
    font-weight: 800;
    background-color: inherit;
    color: inherit;
    padding: 0.5em 1em;
    border: 2pt solid var(--color-fg-main);
    border-radius: 4pt;
    cursor: pointer;
}

.sidebar-view-container .action-button {
    padding: 0.3em 1em;
}

button.borderless-action-button:hover,
button.action-button:hover {
    border-color: var(--color-fg-accent);
    background-color: var(--color-bg-accent);
}

button.action-button:active {
    box-shadow: var(--color-bg-main) 5px 5px 10pt inset;
}

button.borderless-action-button {
    border: none;
}

button.borderless-action-button:hover {
    background-color: var(--color-fg-accent-no-opaque);
}

.project-item {
    display: flex;
    justify-content: space-between;
}

.task-button-container,
.project-button-container {
    display: inline-flex;
    gap: 0.5em;
}

.task-item button,
.project-item button {
    background-color: inherit;
    border: none;
    display: none;
}

.task-item button svg,
.project-item button svg {
    width: 1.3em;
    fill: #b65454;
}

.task-item .task-delete-button:hover svg,
.project-item .project-delete-button:hover svg {
    fill: firebrick;
}

.task-item .task-edit-button svg,
.project-item .project-edit-button svg {
    fill: skyblue;
}

.task-item .task-edit-button:hover svg,
.project-item .project-edit-button:hover svg {
    fill: deepskyblue;
}

.task-item:hover button,
.project-item:hover button {
    display: inline;
    cursor: pointer;
}

main {
    text-align: center;
    padding: min(1%, 1.5em);
    background-color: var(--color-bg-main);
    flex-grow: 1;
}

#task-container {
    padding: min(1%, 2em);
    margin-top: 2.5em;
    text-align: left;
}

#task-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-bottom: 1.5em;
}

.task-item {
    padding: 0.8em 1em;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority-radio-button,
.task-checkbox {
    appearance: initial;
    color: currentColor;
    border: 0.15em solid currentColor;
    width: 1.15em;
    aspect-ratio: 1;
    transform: translateY(-1px);
    display: inline-grid;
    place-content: center;
}

.priority-radio-button {
    width: 1.2em;
    height: 1.2em;
    transform: translateY(2pt);
}

.priority-radio-button::before,
.task-checkbox::before {
    content: "";
    transform: scale(0);
    width: 0.64em;
    aspect-ratio: 1;
    box-shadow: inset 1em 1em var(--color-fg-accent);
}

.priority-radio-button:checked::before,
.task-checkbox:checked::before {
    transform: scale(1);
}

.task-item:has(.task-checkbox:checked) span {
    text-decoration: line-through;
}

.project-update-dialog,
.task-update-dialog {
    padding: 1.5em;
    width: min(60%, 65ch);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--color-bg-accent);
    border: none;
    border-radius: 8pt;
    color: var(--color-fg-main);
    box-shadow: 2pt 2pt 10pt -2pt var(--color-bg-main),
                -2pt -2pt 10pt -2pt var(--color-bg-main);
}

.project-update-dialog::backdrop,
.task-update-dialog::backdrop {
    backdrop-filter: blur(5pt);
}

.project-update-form,
.task-update-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2pt solid var(--color-border-dialog);
    border-radius: 8pt;
    padding: 1.5em;
}

.project-update-form > h1,
.task-update-form > h1 {
    border-bottom: 1pt solid var(--color-fg-accent);
}

.project-update-field,
.task-update-field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.project-update-field > label,
.task-update-field > label {
    font-weight: 800;
}

.project-update-field > input[type="text"],
.project-update-field > textarea,
.task-update-field > textarea,
.task-update-field > input[type="date"],
.task-update-field > input[type="text"] {
    border: 1pt solid var(--color-border-dialog);
    border-radius: 4pt;
    padding: 0.6em 0.7em;
    background-color: var(--color-bg-dialog-input);
    color: var(--color-fg-main);
    outline: none;
}

.project-update-field > input:focus,
.project-update-field > textarea:focus,
.task-update-field > textarea:focus,
.task-update-field > input:focus {
    outline: 1pt solid var(--color-fg-accent);
}

.project-update-field > textarea,
.task-update-field > textarea {
    font-size: 1.1em;
    resize: vertical;
}

.task-update-field .radio-container {
    display: flex;
    gap: 1.5em;
}

.task-update-field .radio-wrapper {
    display: flex;
    gap: 0.4em;
}

.project-update-form .buttons-wrapper,
.task-update-form .buttons-wrapper {
    margin-top: 1.5em;
    display: flex;
    gap: 0.5em;
}
